:root{
    --BackgroundColorBrush : hsla(0, 0%, 11%, 0.79);
    --ButtonBackgroundCheckedColorBrush : hsla(0, 0%, 0%, 0.80);
    --ButtonBorderCheckedColorBrush : hsl(0, 0%, 50%);
    --ButtonBackgroundColorBrush : hsl(0, 0%, 15%);
    --ButtonFrontColorBrush : hsl(0, 0%, 90%);
    --ButtonBorderMouseOverColorBrush : hsl(0, 0%, 90%);
    --ButtonBackgroundMouseOverColorBrush : hsl(197, 100%, 50%);
    --FontPickBackgroundColorBrush : hsla(0, 0%, 41%, 0.14);
    --FontPickMouseOverBackgroundColorBrush : hsl(0, 0%, 0%);
    --FontPickMouseOverBorderColorBrush : hsl(197, 100%, 50%);
    --FontPickSelectedBackgroundColorBrush : hsla(0, 0%, 0%, 0.55);
    --FontPickSelectedBorderColorBrush : hsl(22, 71%, 51%);
    --MenuBackgroundColorBrush : hsla(0, 0%, 0%, 0.79);
    --MenuItem1BorderColorBrush : hsla(0, 0%, 100%, 0.00);
    --MenuItem2DisabledColorBrush : hsla(0, 0%, 41%, 0.45);
    --MenuItem2HighlightBorderColorBrush : hsl(22, 71%, 51%);
    --MenuItem2HighlightTextColorBrush : hsl(197, 100%, 50%);
    --TextColorBrush : hsl(0, 0%, 50%);
    --FontPickTextColorBrush : hsl(0, 0%, 90%);
}

/* global */
    @-ms-viewport{ width: device-width; }
    a, a:hover, a:visited, a:link, a:active
    {
        text-decoration: none;
        color: hsl(0, 0%, 100%);
    }
    img{
        /*! height: 100%; */
        width: auto;
    }
    body{
        display: block;
        margin: 0px;
        background-color: hsl(0, 0%, 97.3%);
        color: hsl(0, 0%, 33.7%);
        position: absolute;
        width: 100%;
        /*! height: 100%; */
        font-size: 100%;
        /*! background-image: url("https://www.transparenttextures.com/patterns/black-linen.png"); */
        /* background-repeat: repeat; */
        /* color: white; */
    }
    h1{
        font-size: 1.3em;
    }
/* global */
/*header*/
    #header{
        background-color: hsl(0, 0%, 38%);
        /*! width: 90%; */
        /*! margin-left: 5%; */
        /*! margin-right: 5%; */
        /* box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.9); */
        box-shadow: 0px 2px 6px -2px hsla(0, 0%, 0%, 0.90);
        /*! border-radius: 15px; */
        /*! margin-top: 10px; */
        /*! position: fixed; */
        overflow: hidden;
    }
    #logo{
        width: 100%;
        height: 70px;
    }
    #logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

     #nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*! background-color: #333; */
    }

     #nav li {
        float: left;
    }

     #nav li a {
        display: inline-block;
        color: #fff;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }

     #nav li a:hover {
        /*background-color: #505050;*/
        background-color: hsla(197.1, 67.9%, 58.4%, 0.4);
    }
   .activeli {
        background-color: #00000050;
        font-size: 115%;
        font-weight: bold;
        border-radius: 5px;
    }
     /*#ads-header, #ads-header *{
        overflow: hidden;
        height: 62px !important;
        margin: 0px !important;
        padding: 0px !important;
     }*/
     #ads-header{
        /*! height: 62px; */ /*! margin: 0px; */ /*
           padding: 0px;
           */ /*! margin-left: auto; */ /*! margin-right: auto; */ /*! width: 50%; */ /*! position: relative; */ /*
           align-content: center;
           align-items: center;
           align-self: center;
        */
        text-align: center;
        /*! max-width: 200px; */
        /*! margin-top: 20px; */
        right: 0px;
     }
/*header*/
/*boddy*/
    #all{
        /*! background-color: hsla(0, 0%, 91.4%, 1); */
        width: 100%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        min-height: 70%;
        position: relative;
        /*! box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9); */
        border-radius: 15px;
    }
    .main{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: #60606060; */
    }
    .main2{
        background-color: #606060;
        color: white;
        padding-bottom: 30px;
        padding-top: 30px;
        min-height: 60vh;
    }
    .main-donate{
        background-color: #606060;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 60vh;
        text-align: center;
        word-wrap: break-word;
    }
    .donate-top{
        padding-left: 3%;
        padding-right: 3%;
    }
    .cattitle{
        background-color: #606060;
        width: 100%;
        text-align: center;
        color: white;
        display: inline-block;
    }
    .redditbutt {
        width: 40%;
        height: 85px;
        /* max-height: 85px; */
        background: whitesmoke;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 10px;
        min-width: 100px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .redditbutt:hover{
        box-shadow: 0px 0px 10px 0px hsl(0, 0%, 0%);
    }
    .deviantbutt {
        width: 40%;
        height: 85px;
        /* max-height: 85px; */
        background: #475c4d;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 10px;
        min-width: 100px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .deviantbutt:hover{
        box-shadow: 0px 0px 10px 0px hsl(0, 0%, 0%);
    }
    .wideimg{
        width: 90%;
        height: auto;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        position: relative;
        object-fit: contain;
        max-height: 75px; /*tis adds 5 padding top-bot*/
    }
    .skingallery{
        background-color: #60606060;
    }
    .gallitem {
        margin: 1vh 1px;
        height: auto;
        width: 80%;
        align-self: center;
        cursor: pointer;
        display: flex;
    }
    .gallitem::before {
        box-shadow: 0px 0px 10px 0px hsl(0, 0%, 0%);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .gallitem:hover {
        z-index: 1;
    }
    .gallitem img {
        width: 100%;
        height: auto;
    }
    .skininfo{
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: #00000060;
        color: white;
        margin: 0;
        padding: 10px 5px;
    }
    .left{
        padding: 3%;
    }
    #features li{
        margin: 15px;
        font-size: 1.1rem;
        font-weight: bold;
    }
    .downloadbutt {
        /*! background: #797979; */
        background: hsl(0, 0%, 60%);
        border-radius: 30px;
        text-align: center;
        width: 100%;
        margin-top: 50px;
        bottom: 0px;
        /*! position: absolute; */
        /*! width: 85%; */
    }
    .downloadbutt2{
        margin-top: 10px;
    }
    .right{
        position: relative;
        padding: 3%;
        margin-top: 10px;
    }
    .featureDiv{
        box-shadow: 0px 0px 10px 0px hsl(0, 0%, 0%);
        overflow: hidden;
    }
    .featureImg{
        width: 100%;
        height: auto;
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        display: block;
        /* transform: scale(1.2); */
    }
    .parallax{
            position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .parallax-container{
        position: relative;
        overflow: hidden;
        height: 225px;
    }
    .separator{
        margin: 70px 0px;
    }
.paypal-donate {
    text-align: center;
}
.paypal-form table {
    width: 100%;
}
.paypal-form select {
    background: transparent;
    border: 1px solid #ccc;
    margin: 10px;
}

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #00000050;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #00000030;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.tab-content p {
  margin: 2em 1em;
  line-height: 2em;
}
/* :checked */
input:checked ~ .tab-content {
  max-height: 1000em;
}
/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.logocryp{
    width: 30px;
    display: inline;
    vertical-align: middle;
}
    /*Modal*/
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

            /*to vertial align*/
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        /* Modal Content/Box */
        .modal-content {
            /* background-color: #fefefe; */
            /* margin: 15% auto; /*15% from the top and centered */
            padding: 20px;
            /* border: 1px solid #888; */
            width: 80%; /* Could be more or less, depending on screen size */
            animation:animatezoom 0.6s;
            box-shadow: 0px 0px 10px 0px hsl(0, 0%, 0%);
            margin: auto;

            background-color: #606060;
            color: white;

            /*for vertical align*/
            position: relative;
            top: 50%;
            transform: perspective(1px) translateY(-50%);
        }
        .modal-main{
            padding: 0px;
        }
        #modal-img{
            /* width: 100%; */
            height: auto;
        }
        #modal-extlink{
            font-weight: bold;
        }
        /* The Close Button */
        .close {
            color: #aaa;
            /* float: right; */
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            right: 10px;
            top: 0px;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        /* Add Animation */
        @keyframes animatezoom{
            from{
                transform:translateY(-50%) scale(0);
            }
            to{
                transform: translateY(-50%) scale(1);
            }
        }

        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }

    /*Modal*/
/*boddy*/
/*footer*/
    #footer{
        padding: 30px 0px 10px 0px;
        margin-top: 15px;
        color: hsl(0, 0%, 90%);
        background-color: #606060;
        width: 100%;
        font-size: 0.8rem;
        /* border-radius: 15px; */
    }
    #addfooter{
        /* height: 100px; */
        text-align: center;
        /* width: 100%; */
    }
    #addfooter>*{
        max-width: 100%;
    }
    #footer p{
        margin: 5px;
    }
/*footer*/
/*responsive mobile first*/
    @media screen and (min-width: 722px) {
        #header{
            height: 62px;
            display: table-caption;
            overflow: hidden;
            width: 100%;
        }
        #ads-header{
            float: right;
            max-width: 48%;
        }
        #nav{
            padding-top: 0px;
            margin-top: 11px;
            /*! height: 100%; */
            vertical-align: bottom;
            /*! padding-top: 30%; */
            float: left;
            margin-left: 1%;
            /*! margin-right: 1%; */
            /*! font-size: 1.5vw; */
        }
        #logo{
            float: left;
            width: 35%;
            height: 100px;
            margin-right: 5px;
            max-width: 350px;
        }
        #all{
            width: 75%;
            margin-top: 45px;
        }
        .main{
            flex-direction: row;
            /*! height: 500px; */
            padding: 20px 0px 20px 0px;
        }
        .main2{
           padding: 10vh 0px 20px 0px;
        }
        .skingallery {
            flex-wrap: wrap;
            align-content: space-evenly;
            justify-content: space-evenly;
            align-items: stretch;
        }
        .gallitem {
            /* width: 32%; */
            width: 24%;
            min-width: 200px;
            margin: 1vh 1px;
        }
        .left{
            width: 50%;
            height: initial;
        }
        .left2{
            width: 50%;
            text-align: center;
        }
        .right{
            width: 50%;
            flex-grow: 1;
            position: relative;
            margin-top: 0px;
        }
        .right2{
            width: 20%;
        }
        div#captioned-gallery{
            height: 100%;
            /*! position: absolute; */
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            /*! margin-bottom: 50px; */
        }
        figure.slider{
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
/*responsive mobile first*/